[submodule "microservices/post-service"]
	path = microservices/post-service
	url = git@github.com:vinips/ems-algaposts-post-service.git
[submodule "microservices/text-processor-service"]
	path = microservices/text-processor-service
	url = git@github.com:vinips/ems-algaposts-text-processor-service.git
